@use './styles/button.scss';

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body, #root{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(35, 30, 30, 0.888);
    color: white
} 
 
.highlight{
    color: #d20d3b
}